@font-face{
    font-family: 'Lora';
    src: url("../misc/Lora-BoldItalic.ttf") format("truetype");
    font-weight: bold;       
}
/*
@media(){

}*/

input.input {
    max-width: 5rem;
        
}

input.parametro[type=number]{
    width: 4rem;
}

input.parametro[type=text]{
    
    min-width: 8rem;
}

input.input::placeholder{
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 1.5em;
    color:black;
    opacity: 0.25;
    
}
 label{
	padding-left: 1em;
 }

.conceptos{
	font-family: "Lora",serif;
	font-size: 1.3em;
}


